.App {
  text-align: center;
  font-family: 'Times New Roman';
  background-color: rgb(219, 123, 123);
  
  
}

.title {
  color: red;
  font-size: 20pt;
  background-color: black;
  padding: 1em;
  margin-top: 0
}

button {
  background-color: black;
  color: red;
  display: inline-block;
  font-size: 14pt;
  box-shadow: 0 5px 16px;
  padding: 2px;
  
}

.select{
  background-color: black;
  color: red;
  font-size: 14pt
}

